<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->

<mapper namespace="com.vainglory.mapper.ScoreMapper">

    <!--<resultMap type="user" id="resultMapUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>-->

    <select id="findAll" resultType="scoreItem" >
  	    select * from t_score
    </select>

    <delete id="deleteById">
        delete from t_score where id = #{scoreId}
    </delete>

    <select id="findById" resultType="scoreItem">
        select * from t_score where id = #{scoreId}
    </select>

    <update id="update" parameterType="scoreItem">
        update t_score set score =#{score},rank=#{rank},userId=#{userId} where id = #{id}
    </update>

</mapper>